{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Upload Postingan</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="image" class="form-label">Upload Gambar</label>
            <input type="file" name="image" id="image" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="caption" class="form-label">Caption</label>
            <textarea name="caption" id="caption" rows="3" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-100">Upload</button>
    </form>
</div>
{% endblock %}
